svg text {
  transform: translate(-10px, 17px);
}

path.link {
  stroke: white;
}

.node-white {
  fill: white;
}

.node-red {
	fill: red;
}

textarea,
pre {
    -moz-tab-size : 2;
      -o-tab-size : 2;
         tab-size : 2;
}